# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Roler Ball.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\lukef\Unity Projekter\Roler Ball\.idea\.idea.Roler Ball\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
